/* css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

/* achtergronden begin */
#voorkant {
    background-image: url(images/maan.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.achtergrond {
    background-color: rgb(213, 220, 233);
}
/*achtergronden einde */

/* navbalk begin */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background-color: rgb(133, 149, 170);
    display: inline;
    justify-content: flex-start;
    align-items: baseline;

}

.navigatie {
    list-style-type: none;
    color: white;
    justify-content: flex-start;
}

.logo {
    align-items: start;
}


.navigatie a {
    text-decoration: none; 
    color: white;
    padding: 20px;
}

.navigatie a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0; 
    width: 100%;
    height: 2px;
    background: white;

}

.navigatie li {
    justify-content: flex-start;
    flex-basis: auto;
    display: inline-block;
    text-align: left;
}

.navigatie a:hover {
    color: rgb(54, 61, 70);
}
/* navbalk einde */

/* index begin */
main h1{
    text-align: center;
    margin-top: 100px;
    padding-top: 110px;
    color: black;
}

main h1 {
    color: white;
    text-shadow: 4px 2px rgb(72, 72, 72);
    font-size: 70px;
    display: block;
    text-align: center;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.voorpagina{
    display: block;
    text-align: left;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 52%;
}

section a {
    justify-content: center;
    align-items: center;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    margin: auto;
    border: 3px solid rgb(138, 138, 173);
    background-color: rgb(38, 38, 57);
    cursor: pointer;
    color: white;
}

section a:hover,
section a:focus-visible {
    background-color: rgb(138, 138, 173);
}
/* index einde */

/* algemene dingen begin */
h2 {
    padding-top: 5em;
    padding-bottom: 14px;
    text-align: center;
}

main p, h3 {
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}

.afbeelding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

.tekst {
    text-align: left;
}

.info {
    font-size: small;
    padding-top: 7px;
}
/* algemene dingen einde */

/* random */
.quote {
    text-align: left;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 30%;
}